@page "/"

@inject IContactService ContactService
@inject NavigationManager NavigationManager

<h3>Contactos</h3>

@Message

<table class="table">
    <tbody>
        <tr>
            <td colpa="2"><a href="/contactdetails">Añadir nuevo contacto</a></td>
        </tr>
    </tbody>
</table>

@if (contacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenGrid AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced"
                AllowPaging="true"
                PageSize="4"
                AllowSorting="true"
                Data="@contacts"
                TItem="Contact"
                ColumnWidth="200px">
        <Columns>
            <RadzenGridColumn TItem="Contact" Property="Nombre" Title="Nombre" />
            <RadzenGridColumn TItem="Contact" Property="Telefono" Title="Telefono" />
            <RadzenGridColumn TItem="Contact" Property="Direccion" Title="Direccion" />
            <RadzenGridColumn TItem="Contact" Title="Editar">
                <Template Context="data">
                    <RadzenLink Path="@($"/contactdetails/{data.Id}")" Text="Editar"></RadzenLink>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Contact" Title="Borrar">
                <Template Context="data">
                    <RadzenLink Path="@($"/contactdelete/{data.Id}")" Text="Borrar"></RadzenLink>
                </Template>
            </RadzenGridColumn>

        </Columns>
    </RadzenGrid>


    @*<table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in contacts)
                {
                <tr>
                    <td>@contact.Nombre</td>
                    <td>@contact.Telefono</td>
                    <td>@contact.Direccion</td>
                    <td><a href="/contactdetails/@contact.Id">Editar</a></td>
                    <td><a href="/contactdelete/@contact.Id">Borrar</a></td>
                </tr>
                }
            </tbody>
        </table>*@
}

@code {
    // Cargmaos la lista de contactos con lo que hay een base de datos
    IEnumerable<Contact> contacts;
    public string Message { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            contacts = await ContactService.GetAll();
        }
        catch (Exception e)
        {
            Message = "Error --> " + e.Message;
        }
    }

}
